.wrapper {
  padding: 50px 100px 50px 0;
  font-size: 30px;
}

.wrapper img {
  height: 300px;
  border: 1px solid rgba(0,0,0,0.1);
  margin-bottom: -8px;
}

.totalReviews {
  font-size: 18px;
  padding: 10px 0;
}

.totalOutOf {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}

